<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foufou.mapper.TextQuestionMapper">

    <delete id="deleteTextQuestionById">
        delete
        from text_question
        where id in
        <foreach collection="textQuestionIds" separator="," item="id" open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectByQuestionIds" resultType="com.foufou.entity.TextQuestion">
        select id, question_title, col, line, table_id
        from text_question
        where id in
        <foreach collection="textQuestionIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

</mapper>